<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seoul.tour.mapper.FreeBoardReplyMapper">

	<insert id="insert">
	
		insert into tbl_freeboardreply (rno, bno, reply, replyer)
		values (seq_freeboardreply.nextval, #{bno}, #{reply}, #{replyer})
	
	</insert>
	
	<select id="read" resultType="seoul.tour.domain.FreeBoardReplyVO">

		select * from tbl_freeboardreply where rno = #{rno}
	
	</select>
	
	<delete id="delete">
	
		delete from tbl_freeboardreply where rno = #{rno}
	
	</delete>
	
	<update id="update">
	
	update tbl_freeboardreply set reply = #{reply}, modified_date = sysdate where
	rno = #{rno}
	
	</update>
	
	<select id="getListWithPaging" resultType="seoul.tour.domain.FreeBoardReplyVO">
	
	select rno, bno, reply, replyer, created_date, modified_date
	from tbl_freeboardreply
	where bno = #{bno}
	order by rno asc
	
	</select>

</mapper>