<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seoul.tour.mapper.WishMapper">

<insert id="wishRegister">
	<!-- INSERT INTO TBL_WISHLIST(USER_ID, ANSAN, DONGGYO, BIGPARK, YANGHWA, HYUNCHUNG, BAEKSASIL, WORLDCUP, YONGMA, BULAM, CHANGGYUNG, WESTSEOUL, SALGOJI, SEOCHOPARK, YANGJAE, NAMSAN, SEOSUNRA, ACHA, HANEUL, MONGCHON, GAEHWA, HOEHYUN, BUKJUNG, BUAM, WESTKYUNGBOK)
	VALUES(#{USER_ID},#{ANSAN}, #{DONGGYO},#{BIGPARK},#{YANGHWA},#{HYUNCHUNG}, #{BAEKSASIL}, #{WORLDCUP}, #{YONGMA}, #{BULAM}, #{CHANGGYUNG}, #{WESTSEOUL}, #{SALGOJI}, #{SEOCHOPARK}, #{YANGJAE}, #{NAMSAN}, #{SEOSUNRA}, #{ACHA}, #{HANEUL}, #{MONGCHON}, #{GAEHWA}, #{HOEHYUN}, #{BUKJUNG}, #{BUAM}, #{WESTKYUNGBOK}) -->
	
	INSERT INTO TBL_WISHLIST(USER_ID, ANSAN, DONGGYO, BIGPARK, YANGHWA, HYUNCHUNG, BAEKSASIL, WORLDCUP, YONGMA, BULAM, CHANGGYUNG, WESTSEOUL, SALGOJI, SEOCHOPARK, YANGJAE, NAMSAN, SEOSUNRA, ACHA, HANEUL, MONGCHON, GAEHWA, HOEHYUN, BUKJUNG, BUAM, WESTKYUNGBOK) 
	VALUES(#{user_id},0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0)
</insert>

<update id="updateWish_heohyun">

UPDATE TBL_WISHLIST SET
HOEHYUN=1 WHERE USER_ID=#{user_id, jdbcType=VARCHAR}

</update>


</mapper>